{% set count = parameters.timers | length -%}
{% if count == 0 -%}
There are no active timers.
{% else -%}
There are {{ count }} active timer{{ 's' if count > 1 else '' }}.
{% for timer in parameters.timers -%}
Timer {{ timer.id }} will be due in {{ timer.time_left }}.
{% endfor -%}
{%- endif -%}
